.main__body--box.clearfix{message_id: "#{message.id}"}
  %li.message-nickname
    = message.user.nickname
  %li.message-date
    = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
  %li.message-text
    - if message.text.present?
      = message.text
    = image_tag message.image.url if message.image.present?
