.contents
  .side
    .side__header
      %h1.side__header--name
        = current_user.nickname
      .side__header--icon
        = link_to new_group_path do
          = fa_icon "pencil-square-o", class: 'btn'
        = link_to edit_user_path(current_user) do
          = fa_icon "gear", class: 'btn'
    .side__body
      = render "side-body"
      / binding.pry
  .main
    .main__header
      .main__header--top
        %h2.chat-name
          ChatSpaceName
        = link_to "edit", "#", class: 'edit'
      .main__header--bottom
        %h3.member-head
          Member
        %ul.member-name
          = render partial: "group-member"
    .main__body
      = render partial: "message"
    .main__footer
      .main__footer--form
        %form.form__message
          %input{type: "text", placeholder: "type a message"}
          = link_to do
            = fa_icon "image", id: 'upload-icon'
          = link_to "SEND", "#", class: 'form__message--submit'
