.contents
  = render "side-body"
  .main
    .main__header
      .main__header--top
        %h2.chat-name
          ChatSpaceName
        = link_to "edit", "#", class: 'edit'
      .main__header--bottom
        %h3.member-head
          Member
        %ul.member-name
          = render partial: "group-member"
    .main__body
      = render partial: "message"
    .main__footer
      .main__footer--form
        %form.form__message
          %input{type: "text", placeholder: "type a message"}
          = link_to do
            = fa_icon "image", id: 'upload-icon'
          = link_to "SEND", "#", class: 'form__message--submit'
